.css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root{
    background-color: #A6B874;
}

.css-1exqwzz-MuiSnackbarContent-message::before{
    content: '☑ ';
    margin-right: 5px;
    font-size: 20px;
}

.fakeCallBtn{
    background-color: #f1f1f142;
    border: 2px solid #f1f1f1;
    color: #f1f1f1;
    transition: all 0.5s;
}

.fakeCallBtn:hover{
    background-color: #f1f1f1;
    color: #E02768;
    letter-spacing: 2px;
}